
 <div id='nav-bar' class="nav-container">

    <% if(locals.isLoggedIn){%>
 <div class="nav-section">
     <button class="nav-btn" onclick="location.assign('/user/saved/<%=user._id%>')">Saved Searches</button>
     <button class="nav-btn" onclick="location.assign('/trials/new-search')">Saved Searches</button>
  </div>
    <%}%>
    <% if(!locals.isLoggedIn){%>
            <button class="nav-btn" onclick="location.assign('/user/login')">Login</button>
     <%}%>
    <% if(!locals.user){%>
     <button class="nav-btn" onclick="location.assign('/user/sign-up')">Sign-up</button>
    <%}%>
 
</div>
</div>