<%- include('includes/top.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="top">
    <div class="main">
        <button class="btn" onclick="location.assign('/admin/users')">Users</button>
        <button class="btn" onclick="location.assign('/admin/searches')">Searches</button>
    </div>
    </div>
   
</div>
</body>