
<%- include('includes/top.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="top">
    <script>
        function showAbout(){
            const about = document.getElementById("aboutCont");
            const aboutBtn = document.getElementById("aboutBtn");
            about.style.display = "block"
            aboutBtn.innerHTML = "Hide About"
            aboutBtn.onclick = () => hideAbout();
        }
        function hideAbout(){
            const about = document.getElementById("aboutCont");
            about.style.display = "none"
            const aboutBtn = document.getElementById("aboutBtn");
            aboutBtn.innerHTML = "Show About"
            aboutBtn.onclick = () => showAbout();
        }

    </script>
    <div class="main">
    <div class="home-maincont">
    <div class="home-subcont">
        <div class="main-title">Genetic Modification Trials Search Engine</div>
        <div class="sel-stat" name="about-btn" onclick="showAbout()" id="aboutBtn">Show About</div>
        <div class="about" id="aboutCont">
            <p>This website allows users to search and save results from searches on the clinicaltials.gov database specifically targeted at genetic modification therapies. This site was originally designed as the product component of a Senior Project about the use of genetic modification therapies.</p>
        </div>
    </div>
    </div>
    </div>
    </div>
   
</div>
</body>