
<%- include('includes/top.ejs') %>
<body>
    <div class="top">
    <div class="main">
        <div class="home">Senior Project</div>
        <button class="btn" onclick="location.assign('/trials/find')">RUN</button>
    </div>
    </div>
   
</div>
</body>