:root {
    --purple: #b630f0;
    --black:  #000000;
    --dark-grey: #1f1f1f;
    --very-dark-grey: #0d0d0d;
    --dark-purple: #591775;
    --very-dark-purple: #3c0f4f;
    --light-grey:#7d7d7d;
    --very-light-grey: #bfbfbf;
  }


  body{
    background-color: var(--black);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
  }

  .top{
    padding: 20px;
    height: 100vh;

  }
  .main{
   width: 100%;
   height: 100%;
  }
  .nav-container{
    width: 100vw;
    background-color: var(--dark-purple);
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar{

  }
  .nav-btn{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    height: 100%;
    width: 100%;
  }
  .nav-btn:hover{
    background-color: var(--very-dark-purple);
  }
  .btn{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: var(--purple);
    border:none;
  }
  .btn:hover{
    background-color: var(--dark-purple);
  }

  .auth-form-container{
    display: block;
    width: 25%;
  }

  .input-txt{
    padding: 5px;
        width: 100%;
        border-radius: 12px;
        background-color: var(--dark-grey);
        color: white;
        border: none;
        outline: none;
        -webkit-appearance: none;
        height: 30px;
      margin-bottom: 10px;
  }

  .forgot-btn{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid var(--purple);
    margin-top: 10px;
  }

  .logout-form{
    width: 100%;
    height: 100%;
  }

  .single-search-el{
    margin-bottom: 10px;
    font-size: 15px;
  }
  .single-search-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .single-study-container{
    padding: 20px;
    background-color: var(--very-dark-grey);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 10px;
    background-color: var(--dark-grey);
    margin-bottom: 20px;
  }
  .single-field{
    color: var(--very-light-grey);
  }
  
  .single-search-container{
    margin-bottom: 20px;
  }

  .saved-search-container{
    display: grid;
    grid-template-areas: "info btns";
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    height: 70px;
    border-radius: 10px;
    background-color: var(--dark-grey);
    margin-bottom: 10px;
    padding: 10px;
  }

  .saved-search-info{
    grid-area: info;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .search-name{
    padding: 10px;
  }
  .search-name:hover{
    color: var(--purple);
  }
  .search-date{
    color: var(--light-grey);
  }
  .search-mod-btns{
    grid-area: btns;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .search-mod-btn{
    color: white;
    font-size: 15px;
    background-color: transparent;
    border:none;
  }
  .search-mod-btn:hover{
    color: var(--purple);
  }

  .sel-cont{
    display: none;
  }
  .unsel-cont{
    display: none;
  }
  .sel-stat:hover{
    color: var(--purple);
    cursor:pointer;
  }
  .unsel-stat:hover{
    color: var(--purple);
    cursor: pointer;
  }
  .field-cont{
    color: var(--light-grey);
  }
  
  .usr-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .usr-cred{
    padding: 10px;
  }

  .search-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-cred{
    padding: 10px;
  }
  .study-cont{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .s-id{
    padding: 10px;
  }
  .searches-cont{
    display: block;
  }
  .users-cont{
    display: block;
  }

  .main-title{
    font-size: 35px;
    font-weight: bold;
  }
  .about{
    display: none;
    overflow: auto;
  }
  .about-visible{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--very-dark-grey);
  }

  .home-maincont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .home-subcont{
    display: block;
    width: 70%;
    max-width: 70%;
  }

  .profile-cred{
    height: 30px;
    width: 300px;
    background-color: var(--dark-grey);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .study-filter-cont{
    display: block;
  }
  .type-filter{
    display: block;
    margin-bottom: 10px;
  }
  .stat-filter{
    display: block;
    margin-bottom: 10px;
  }
  .hasResults{
    display: block;
    border-bottom: 10px;
  }


  select{
    background-color: var(--dark-grey);
    border: none;
    color: white;
  }
  